body {
  margin: 0;
  padding: 16px;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #121212;
}

input[type="checkbox"] {
  margin: 0 0.5em 0 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

.option-list {
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  user-select: none;
}

.option-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 0;
}

.line {
  margin: 16px 0;
  height: 1px;
  background-color: #ddd;
}

.more {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #999;
}